name: Build

on:
  push:
    branches: [ "main" ]
    tags: [ "*" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: write

env:
  EM_VERSION: 4.0.13
  EM_CACHE_FOLDER: emsdk-cache

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: true

      # Emscripten Cache
      - name: Setup cache
        id: cache-system-libraries
        uses: actions/cache@v3
        with:
          path: ${{ env.EM_CACHE_FOLDER }}
          key: ${{ env.EM_VERSION }}-${{ runner.os }}

      # Emscripten Install
      - name: Setup Emscripten
        uses: mymindstorm/setup-emsdk@v14
        with:
          version: ${{ env.EM_VERSION }}
          actions-cache-folder: ${{ env.EM_CACHE_FOLDER }}

      # Build WASM
      - name: Build hb.wasm
        run: ./build.sh

      - name: Build hb-subset.wasm
        run: ./build-subset.sh

      # Upload Artifacts ONLY
      - name: Archive artifacts
        uses: actions/upload-artifact@v4
        with:
          name: wasm
          path: |
            hb.js
            hb.wasm
            hb-subset.js
            hb-subset.wasm
          if-no-files-found: error

  release:
    name: Create and populate release
    needs: build
    runs-on: ubuntu-latest
    if: contains(github.ref, 'refs/tags/')
    env:
      GH_TOKEN: ${{ github.token }}

    steps:
      - uses: actions/checkout@v4

      - name: Download artifacts
        uses: actions/download-artifact@v4
        with:
          name: wasm

      # Create Release if missing
      - name: Check or create release
        run: |
          if ! gh release view ${{ github.ref_name }}; then
            gh release create ${{ github.ref_name }} --title ${{ github.ref_name }} --generate-notes
          fi

      # Upload WASM
      - name: Upload release files
        run: |
          gh release upload ${{ github.ref_name }} \
            hb.js hb.wasm hb-subset.js hb-subset.wasm \
            --clobber
